
Asistante.xcodeproj/project.xcworkspace/xcuserdata/alle.xcuserdatad/UserInterfaceState.xcuserstate
Asistante.xcodeproj/project.xcworkspace/xcuserdata/alle.xcuserdatad/UserInterfaceState.xcuserstate.bak
Asistante.xcodeproj/project.xcworkspace/xcuserdata/alle.xcuserdatad/UserInterfaceState.xcuserstate
Asistante.xcodeproj/xcuserdata/alle.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Asistante.xcodeproj/xcuserdata/alle.xcuserdatad/xcschemes/xcschememanagement.plist
Asistante.xcodeproj/xcuserdata/alle.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Asistante.xcodeproj/xcuserdata/alle.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Asistante.xcodeproj/project.xcworkspace/xcuserdata/alle.xcuserdatad/UserInterfaceState.xcuserstate
Asistante.xcodeproj/xcuserdata/alle.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Asistante.xcodeproj/project.xcworkspace/xcuserdata/alle.xcuserdatad/UserInterfaceState.xcuserstate
