
Asistante.xcodeproj/project.xcworkspace/xcuserdata/alle.xcuserdatad/UserInterfaceState.xcuserstate
Asistante.xcodeproj/project.xcworkspace/xcuserdata/alle.xcuserdatad/UserInterfaceState.xcuserstate.bak
